gs://YourBucketName/SRR29681558.1.trimmed.fastq
gs://YourBucketName/SRR29681558.2.trimmed.fastq
gs://YourBucketName/SRR29681558.bai
gs://YourBucketName/SRR29681558.bam
gs://YourBucketName/SRR29681558.fastp.log
gs://YourBucketName/SRR29681577.bai
gs://YourBucketName/SRR29681577.bam
gs://YourBucketName/reference.amb
gs://YourBucketName/reference.ann
gs://YourBucketName/reference.bwt
gs://YourBucketName/reference.cluster
gs://YourBucketName/reference.coords
gs://YourBucketName/reference.delta
gs://YourBucketName/reference.dict
gs://YourBucketName/reference.fa
gs://YourBucketName/reference.fasta
gs://YourBucketName/reference.fasta.fai
gs://YourBucketName/reference.pac
gs://YourBucketName/reference.sa
