/path/to/working/folder/reset.script done SRR16249997
/path/to/working/folder/reset.script finalbam SRR29681558
/path/to/working/folder/reset.script vm2 SRR29681566
/path/to/working/folder/reset.script earlybam SRR29681568
/path/to/working/folder/reset.script trimmed SRR29681550
/path/to/working/folder/reset.script failed SRR29681548
